// Our custom style here
.has-shadow-hover {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.23);
    .image {
      opacity: 0.5;
    }
  }
}

.has-box-shadow {
  box-shadow: 0 0px 10px #0000002d;
}

.has-transparent-bg {
  background-color: transparent;
  border: none;
  &:hover {
    background-color: $black-ter
  }
}

// table-profile
.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
  width: 100px;
}

// gap for mobile column
@media screen and (max-width: 900px) {
.is-gap-mobile {
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
  }
}

// gap for mobile columns
@media screen and (max-width: 900px) {
.has-container-margin {
    margin-right: -6px;
    margin-left: -6px;
  }
}

// Padding box on mobile
@media screen and (max-width: 500px) {
.has-mobile-padding {
    padding: 0.3rem;
}
}

// Padding box on desktop
@media screen and (min-width: 501px) {
.has-mobile-padding {
    padding: 0.5rem;
}
}
