// Our custom style here
.has-shadow-hover {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.23);
    .image {
      opacity: 0.5;
    }
  }
}

.has-box-shadow {
  box-shadow: 0 0px 10px #0000002d;
}

.has-transparent-bg {
  background-color: transparent;
  border: none;
  &:hover {
    background-color: $black-ter
  }
}
